body {
    background-color: #000000;
    color: #0e0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align-last: center;
}

#adminPanel {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 8px;
    background-color: #3b3535;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 500px;  
    margin-top: 10px;
}

#questionList {
    display: none;
    
}

#questionList ul {  
    padding: 0;
    text-align: left;
    max-height: 400px; 
    overflow-y: auto; 
}

#questionList li {
    padding: 15px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#questionList li .buttonContainer {
    display: flex;
    align-items: center;
    gap: 0; 
}

#questionList li button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
}

.editButton {
    background-color: #ff9800;
    color: #fff;
}

.editButton:hover {
    background-color: #fb8c00; 
}

.deleteButton {
    background-color: #f44336;
    color: #fff;
}

.deleteButton:hover {
    background-color: #e53935;
}

#quizContainer {
    max-width: 800px;
    background-color: #fffefe;
    border-radius: 8px;
    text-align: center;
}

#quizContainer h1 {
    font-size: 40px;
}

#welcomeScreen {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

}

#questionContainer {
    font-size: 22px;
    font-weight: 200px;
    background-color: #ffffff;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 800px;
}

.correct {
    background-color: #347744;
    border-color: #126927;
}

.incorrect {
    background-color: #8f474d;
    border-color: #8f121f;
}

#nextQuestionButton, #retryButton {
    margin-left: 40%;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #535353;
    color: #fff;
    cursor: pointer;
 
}

#nextQuestionButton:hover, #retryButton:hover {
    background-color: #743939;
}
